* {
  font-family: "Jost", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* html {
  font-size: 62.5%;
} */
/* header section start */
.main-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  position: relative;
  background: rgba(229, 84, 115, 0.1);
}
.header-info {
  position: absolute;
  left: 150px;
}
.header-info h3 {
  color: #272727;
  font-size: 60px;
}
.header-info p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  margin-top: 15px;
}
.header-info button {
  padding: 10px 25px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  border: none;
  margin-top: 20px;
}
.header-img {
  position: absolute;
  bottom: 0px;
  right: 130px;
}
.header-img img {
  width: 450px;
}

/* header section end */
